$primary-color: #ffcc00;
$dark-color: #19212e;
$input-border-color: #4f4f4f;
$dark-color-2: #171717;
$white: #ffffff;
$black: #000000;
$transparent: #efecec7a;
$text-primary: #ebebeb;
$text-color-2: #bebebe;
$header-bg-color: #171717;
$green: #27ae60;
$btn-primary-color: #27348b;
$bg-gray: #dcdcdc;
$back-button-color: #3390ff;
